
.App {
  margin: 0;
  background: linear-gradient(to bottom right, #9bcf4a 40%, #a4e371 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

h1 {
  margin: 40px auto;
  font-size: 9vw;
  font-weight: bold;
  color: #f3721c;
  text-shadow: 
  -3px -3px 0 #ffffff, /* ombre blanche en haut à gauche */
    3px -3px 0 #ffffff, /* ombre blanche en haut à droite */
  -3px  3px 0 #ffffff, /* ombre blanche en bas à gauche */
    3px  3px 0 #ffffff; /* ombre blanche en bas à droite */
}

button {
  width: 230px;
  height: 230px;
  font-weight: bold;
  font-size: 1.7em; /* Taille du texte du bouton */
  padding: 20px 30px; /* Taille du bouton */
  margin-top: 20px;
  cursor: pointer;
  border: 6px solid #f3721c; /* Bordure orange */
  background-color: white; /* Fond blanc */
  color: #f3721c; /* Texte orange */
  border-radius: 50%; /* Bouton rond */
  text-transform: uppercase; /* Texte en majuscule */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre pour donner du relief */
  transition: transform 0.2s; /* Transition pour l'effet de clic */
}

button:hover {
  transform: scale(1.05); /* Effet de survol pour agrandir légèrement */
}

button:active {
  transform: scale(0.95); /* Effet de clic pour rétrécir légèrement */
}

@media (max-width: 768px) {
  h1 {
      font-size: 12vw; /* Taille plus petite sur les tablettes */
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 13vw; /* Taille encore plus petite sur les smartphones */
  }
}


